/* Reset body margin and padding */
body {
    padding: 0;
    margin: 0;
  }
  
  #unity-container {
    position: absolute; /* Absolute positioning to ensure it occupies the full viewport */
    top: 50%;
    left: 50%;
    width: 80vw; /* Width as a percentage of viewport width */
    height: 80vh; /* Let the height adjust based on width */
    transform: translate(-50%, -50%); /* Centering the container */
    z-index: 1; /* Ensure it's below the modal */
    overflow: hidden; /* Hide overflow to prevent content from spilling out */
    background: #000; /* Optional: background color */
    border-radius: 40px;
    border-width: 2px;
    border-color: #60a5fa;
  }
  
  /* Styles for the Unity player */
  .unity-player {
    width: 100%;
    height: auto; /* Adjust height based on width */
    aspect-ratio: 16 / 9; /* Enforce 16:9 aspect ratio */
    max-width: 100%;
    max-height: 100%;
    display: block; /* Ensure it behaves as a block element */
    margin: 0 auto; /* Center the Unity player inside its container */
  }
  
  /* Styles specific to desktop view */
  .unity-desktop {
    position: relative; /* Ensure positioning is relative to its parent */
    width: 100%;
    height: 100%;
  }
  /* Styles specific to mobile view */
  .unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  /* Canvas background */
  #unity-canvas {
    background: #231F20;
  }
  
  /* Loading bar styles */
  #unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden, shown when loading */
  }
 
  
  /* Footer styles */
  #unity-footer {
    position: relative;
  }
  
  .unity-mobile #unity-footer {
    display: none; /* Hide footer on mobile */
  }

  
  #unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  

  /* Warning styles */
  #unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none; /* Initially hidden, shown when needed */
  }
  