/* Reset body margin and padding */
body {
    padding: 0;
    margin: 0;
  }
  
  #unity-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw !important;
    height: 80vh !important;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;
    background: #000;
    border-radius: 40px;
    border-width: 2px;
    border-color: #60a5faf1 !important;
    transition: width 1.5s ease, height 1.5s ease, border-color 1.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;      
  }
  

  
  
  /* Styles for the Unity player */
  .unity-player {
    width: 100%;
    height: auto; /* Adjust height based on width */
    aspect-ratio: 16 / 9; /* Enforce 16:9 aspect ratio */
    max-width: 100%;
    max-height: 100%;
    display: block; /* Ensure it behaves as a block element */
    margin: 0 auto; /* Center the Unity player inside its container */
  }
  
  /* Styles specific to desktop view */
  .unity-desktop {
    position: relative; /* Ensure positioning is relative to its parent */
    width: 100%;
    height: 100%;
  }
  /* Styles specific to mobile view */
  .unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  /* Canvas background */
  #unity-canvas {
    background: #231F20;
  }
  
  /* Loading bar styles */
  #unity-loading-bar {
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden, shown when loading */
  }
 
  
  /* Footer styles */
  #unity-footer {
    position: relative;
  }
  
  .unity-mobile #unity-footer {
    display: none; /* Hide footer on mobile */
  }

  
  #unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  

  /* Warning styles */
  #unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none; /* Initially hidden, shown when needed */
  }
  